In [15]:
#1.
import sqlite3
conn = sqlite3.connect('db_1_new.db')
c = conn.cursor()

In [16]:
# Create table - transactions
c.execute('''CREATE TABLE transactions
             ([id] UUID,[insert_time] timestamp, [tx_amount] float, [tx_type] string, [status] string)''')
conn.commit()

In [17]:
import pandas as pd
from pandas import DataFrame

conn = sqlite3.connect('db_1_new.db')  
c = conn.cursor()

read_clients = pd.read_csv(r'C:\Users\Ade Nur H\Documents\IYKRA Data Fellowship\Material\06 Coding Python\data_1.csv',
                          delimiter = ';')
read_clients.to_sql('transactions', conn, if_exists='append', index = False)
#Insert the values from the csv file into the table 'transactions'

In [30]:
c.execute('''
select * from transactions
join (select id, max(insert_time) as max_time from transactions group by id) t
on transactions.id = t.id and transactions.insert_time = t.max_time
          ''')

c.fetchall()

[('d6608b26-929a-44cd-96f0-f803ce0b63a4',
  '01/09/2027 01:19',
  450678.0,
  'in',
  'active',
  'd6608b26-929a-44cd-96f0-f803ce0b63a4',
  '01/09/2027 01:19'),
 ('f3b6a403-6765-4065-8812-a77d15871fd7',
  '23/06/2007 02:02',
  565763.0,
  'out',
  'inactive',
  'f3b6a403-6765-4065-8812-a77d15871fd7',
  '23/06/2007 02:02'),
 ('ec3bb1cf-bc07-4c3c-9810-8e7ceb425c0b',
  '11/10/2002 07:44',
  2563.0,
  'out',
  'active',
  'ec3bb1cf-bc07-4c3c-9810-8e7ceb425c0b',
  '11/10/2002 07:44'),
 ('69980473-6abe-4a2f-a6ed-bfd2226980db',
  '24/05/2020 02:33',
  34567.0,
  'out',
  'active',
  '69980473-6abe-4a2f-a6ed-bfd2226980db',
  '24/05/2020 02:33'),
 ('a27d5f8a-3609-49b7-b0fd-4615654978e4',
  '05/06/2022 21:00',
  75492.0,
  'out',
  'active',
  'a27d5f8a-3609-49b7-b0fd-4615654978e4',
  '05/06/2022 21:00'),
 ('3f08d19d-7bd8-4b6e-9b98-202a2e3ad9ac',
  '05/10/2007 05:06',
  76489.0,
  'out',
  'inactive',
  '3f08d19d-7bd8-4b6e-9b98-202a2e3ad9ac',
  '05/10/2007 05:06'),
 ('7ec50532-7abd-438b-a1d3-0d63a83eb006',
  '19/11/2010 15:11',
  65278.0,
  'in',
  'inactive',
  '7ec50532-7abd-438b-a1d3-0d63a83eb006',
  '19/11/2010 15:11'),
 ('0382068f-fe94-4bfd-abfa-5e47b7b6d8ea',
  '29/11/2008 18:26',
  53829.0,
  'out',
  'active',
  '0382068f-fe94-4bfd-abfa-5e47b7b6d8ea',
  '29/11/2008 18:26'),
 ('4a519ff9-2cc6-4083-bd56-adf3d34bb665',
  '20/10/2002 12:04',
  56379.0,
  'in',
  'active',
  '4a519ff9-2cc6-4083-bd56-adf3d34bb665',
  '20/10/2002 12:04'),
 ('44434d45-70ba-4054-ae26-4eb67eb43927',
  '09/09/2002 19:19',
  87652.0,
  'out',
  'active',
  '44434d45-70ba-4054-ae26-4eb67eb43927',
  '09/09/2002 19:19')]